{# Tags Component #}
<div class="row g-4 mt-4">
    <div class="col-lg-12">
        <div class="card h-100 shadow">
            <div class="card-header d-flex align-items-center">
                <i class="fas fa-tags me-2"></i>
                <h6 class="card-title mb-0">Tags</h6>
            </div>
            <div class="card-body">
                <div id="tags-container" class="d-flex flex-wrap gap-2 mb-3">
                    <!-- Tags will be dynamically inserted here -->
                </div>
                <form id="add-tag-form" class="d-flex gap-2">
                    <input type="text" id="new-tag-input" class="form-control" placeholder="Enter new tag">
                    <button type="submit" class="btn btn-primary">Add Tag</button>
                </form>
            </div>
        </div>
    </div>
</div>

